* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    border: 3px solid lightsalmon;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 800px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#display {
    flex: 1;
    background-color: black;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: end;
    margin-bottom: auto;
    border-bottom: 1px solid white;
}
.cell {
    text-align: center;
    flex: 2;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: black;
    color: white;
}
.op {
    color: orange;
    font-size: 45px;
}
.cell:hover {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 35px;
}
.row {
    display: flex;
    flex-direction: row;
}
.equal {
    flex:4;
}
